:root {
  --color--primary: #e03131;
  --color--shade: #c92a2a;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

.link {
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

.movie_card {
  position: relative;
  display: block;
  width: 1200px;
  height: fit-content;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
  }
  .info_section {
    position: relative;
    padding-bottom: 36px;
    width: 100%;
    height: fit-content;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header {
      position: relative;
      padding: 25px;
      height: 40%;
      /* margin-bottom: 24px; */
      h1 {
        color: black;
        font-weight: 400;
      }
      h4 {
        color: #555;
        font-weight: 400;
      }
      .minutes {
        display: inline-block;
        /* margin-top: 15px; */
        color: #333;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.05);
      }
      .type {
        display: inline-block;
        color: #959595;
        margin-left: 10px;
      }
      .locandina {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 250px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }
    .movie_desc {
      padding: 0 25px;
      margin-bottom: 24px;
      height: 50%;
      .text {
        color: #545454;
        font-size: 20px;
        line-height: 1.8;
      }
    }
    .movie_social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      display: flex;
      padding: 0 25px;
      align-items: center;
      list-style: none;
      li {
        display: inline-block;
        color: rgba(0, 0, 0, 0.3);
        transition: color 0.3s;
        transition-delay: 0.15s;
        margin: 0 10px;
        &:hover {
          transition: color 0.3s;
          color: rgba(0, 0, 0, 0.7);
        }
        i {
          font-size: 19px;
          cursor: pointer;
        }
      }
    }
  }
  .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    left: 40%;
    background-size: cover;
    border-radius: 11px;
  }
}
.info_section {
  background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
}

.movie_header {
  width: 65%;
}

.movie_desc {
  width: 50%;
}

.blur_back {
  width: 80%;
  background-position: -100% 10% !important;
}

.section {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.movie-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
}

.movie-detail-wrapper h2 {
  margin-bottom: 48px;
}

.movie-rating {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.actors_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

.actor_card {
  position: relative;
}

.actor_img {
  width: 250px;
}

.actor_name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background-color: #777;
}

.movie-price {
  font-size: 36px;
  font-weight: 600;
  color: #555;
}
