.cart {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 50px;
}

.cartTableSection {
  margin-bottom: 20px;
}

.cartTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

.cartTable th {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  text-align: left;
}

.cartTable td {
  padding: 10px;
  text-align: left;
}

.cartTable tbody {
  height: 55px;
}

.cartActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.couponInput {
  height: 40px;
  padding: 8px;
  background-color: white;
  color: black;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 0.2;
}

.couponInput {
  background-color: #f9f9f9;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.couponButton,
.updateButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.couponButton:hover,
.updateButton:hover {
  background-color: #c82333;
}

.cartTotalsSection {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.cartTotals {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  background: white;
}

.cartTotals h2 {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  margin: -20px -20px 20px -20px;
  text-align: center;
}

.totalsRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkoutButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
}

.checkoutButton:hover {
  background-color: #c82333;
}

.colRemoveButton {
  width: 10%;
}
.colProduct {
  width: 40%;
}

.colPrice {
  width: 15%;
}

.colQuantity {
  width: 15%;
}

.colTotal {
  width: 15%;
}
